# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\maxe\OneDrive\Dokumente\Studium Künstliche Intelligenz (B.Sc.) THD\2. Semester\Programmeriung 2\Programme\Programm 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
